<html>
<head>
  <title>Void Servers - Internal Error</title>
<%- include('../blocks/header') %>
<script src="/prismjs/prism.js"></script>
<link href="/prismjs/prism.css" rel="stylesheet">
</head>
<body>
  <%- include('../blocks/navbar', { bot, user }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-dumpster-fire"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
      <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Internal Error (<%= status %>)</span><br />Please tell a administrator to check the system console!</p>
    </div>
  </div>
  </div>
  <br />

  <% if (user && user.isAdmin == true) { %>
    <div class="container mt-3">
        <div class="row">
          <div class="col-md-12 offset-md-0">
            <div class="card mb-12">
              <div class="card-header"><h5>Express Error Message</h5></div>
              <div class="card-body" style="padding:0;">
                <pre class="language-json" style="white-space: pre; text-align: left; margin:0; min-height:400px;"><code><%= error.message %></code></pre>
              </div>
            </div>
        </div>
      </div>
    </div>
  <% } %>
  <%- include('../blocks/footer') %>
</body>
</html>
